html {
  scroll-behavior: smooth;
}

/* START: These should be updated later*/

#ingredients-show img {
  width: 100px;
  height: 100px;
}

#meals-show-image {
  width: 200px;
  height: 200px;
}

#dmp-index img {
  width: 100px;
  height: 100px;
}

/* #dmp-show img {
  width: 100px;
  height: 100px;
} */

/* END  */

#root {
  background-color: #C1ECE4;
}

#header {
  background-color: #3AA6B9;
}

#footer {
  background-color: #FF9EAA;
}