html {
  scroll-behavior: smooth;
}

/* START: These should be updated later*/

#ingredients-index img {
  width: 100px;
  height: 100px;
}

#ingredients-show img {
  width: 100px;
  height: 100px;
}

#meals-index img {
  width: 100px;
  height: 100px;
}

#meals-show img {
  width: 100px;
  height: 100px;
}

#dmp-index img {
  width: 100px;
  height: 100px;
}

#dmp-show img {
  width: 100px;
  height: 100px;
}

/* END  */

#root {
  background-color: #9d9f9f;
}

#test {
  text-align: right;
  float: right;
}