html {
  scroll-behavior: smooth;
}

#home-header {
  text-align: center;
}

#home-image {
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#ingredients-show img {
  width: 500px;
  height: 500px;
  border-radius: 10%;
}

#meals-show-image {
  width: 300px;
  height: 300px;
  float: right;
  border-radius: 10%;
}

#dmp-index img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

#root {
  background-color: #C1ECE4;
  font-family: 'Quicksand', sans-serif;
}

#header {
  background-color: #3AA6B9;
}

#logo {
  height: 50px;
}

#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #FF9EAA;
  margin-top: auto;
}